.carta{
    border: 1px solid black;
    border-radius: 5%;
    padding: 5px;
    width: 80px;
    height: 120px;
    margin-left: 15px;
    background-color: #ffff;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.miniatura{
    width: 30px;
    height: 60px;
    padding: 4px;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 4px;
}

.carta-body{
    border-radius: 5%;
    border: 1px solid #6B6A6D;
    background-color: #f7f7f7;
    height: 100%;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.carta-topo{
    font-size: 15px;
    text-align: left;
    height: 3%;
    padding: 4px 0px 0px 4px;
}

.carta-valor{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta-bottom{
    font-size: 15px;
    text-align: right;
    height: 10%;
    padding: 0px 4px;
}

.miniatura .carta-body{
    font-size: 12px;
}

.miniatura .carta-bottom,
.miniatura .carta-topo{
    font-size: 7px;
}

.miniatura .carta-valor{
    height: 76%;
}

.display{
    color: #ffff;
    text-align: center;
}

.back{
}

.logo{
    font-size: 7px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 800;
    height: 100%;
    border-radius: 5%;
}