
<div class="cadeiras"></div>
<div class="mesa">
    <div class="top">
        <div class="position" *ngFor="let jogador of jogadoresTop">
            <div class="jogada">
                <div *ngIf="jogador.jogou">
                    <app-carta [carta]="jogador.carta" [miniatura]="true"></app-carta>
                </div>
            </div>
            <div class="display">{{jogador.nome}}</div>
        </div>
    </div>
    <div class="centro">
        <div class="maior" *ngIf="maiorJogada.nome !='Ninguem'">
            <div class="display">{{maiorJogada.nome}}</div>
            <app-carta [carta]="maiorJogada.carta" [miniatura]="true"></app-carta>
        </div>
        <div class="menor" *ngIf="menorJogada.nome !='Ninguem'">
            <app-carta [carta]="menorJogada.carta" [miniatura]="true"></app-carta>
            <div class="display">{{menorJogada.nome}}</div> 
        </div>
    </div>
    <div class="bottom">
        <div class="position" *ngFor="let jogador of jogadoresBottom">
            <div class="display">{{jogador.nome}}</div>
            <div class="jogada">
                <div *ngIf="jogador.jogou">
                    <app-carta [carta]="jogador.carta" [miniatura]="true"></app-carta>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jogador">
    <div *ngFor="let carta of cartas" (click)="virar(carta)" [ngClass]="{movided: carta.movida, disabled: !aberto}">
        <app-carta [carta]="carta" [virada]="true"></app-carta>
    </div>
    <div>
        <button (click)="virarTudo()">Virar</button>
        <button (click)="simularRodada()">Simular</button>
        <button (click)="resetar()">Resetar</button>
    </div>
</div>